body {
    min-width: 1200px;
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

main {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

a,
button {
    font: inherit;
    color: #ffffff;
    font-weight: bold;
}

a {
    -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

button {
    display: block;
}

.button {
    display: inline-block;
    position: relative;
    padding: 12px 40px;
    margin: 0;

    font-size: 18px;
    line-height: 24px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-weight: bold;

    border: none;
    border-radius: 35px;
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
    background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
    background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
    background-image: linear-gradient(0deg, #e74a35, #f26843);
    -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-radius: inherit;
}

.button:hover::after {
    background-color: rgba(255, 255, 255, 0.2);
}

.button:active {
    -webkit-box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 1);
    box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 1);
}

.button:active::after {
    background-color: rgba(0, 0, 0, 0.07);
}

a:hover:not(.button),
a:active:not(.button) {
    color: #ffbc9e;
    -webkit-text-decoration-color: rgba(255, 188, 158, 0.2);
    text-decoration-color: rgba(255, 188, 158, 0.2);
}

.modal-wrapper {
    display: none;
    position: fixed;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);

    z-index: 50;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-header {
    width: 1146px;
    padding: 0 27px;
    margin-bottom: 26px;

    line-height: 18px;
}

.main-header.index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 1146px;
    padding: 0 27px;

    line-height: 18px;
}

.main-header-logo {
    width: 154px;
    height: 64px;
    padding-right: 10px;
}

.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 710px;
}

.navigation-list > li {
    height: 32px;
    margin-right: 2px;
    -ms-flex-item-align: end;
    align-self: flex-end;

    vertical-align: middle;
    border-radius: 20px;
}

.navigation-list,
.navigation-list-sub-menu,
.sub-sub-menu,
.navigation-user {
    padding: 0;
    margin: 0;

    list-style: none;
}

.navigation-list-item {
    display: block;
    padding: 0;
    margin: 0;
    padding: 6px 13px;
    height: 20px;

    vertical-align: middle;
    text-align: center;

    border-radius: 20px;

    cursor: pointer;
}

li .navigation-list-item:focus,
li .navigation-list-item:hover {
    text-decoration: none;
    color: #323232;

    background-color: #ffffff;
}

li .navigation-list-item:active {
    text-decoration: none;
    color: #323232;

    background-color: #ededed;
    -webkit-box-shadow: inset 0 2px 1px 0 #696969;
    box-shadow: inset 0 2px 1px 0 #696969;
}

.navigation-list-item.current {
    min-height: 20px;

    text-decoration: none;
    color: #ffffff;

    background-color: #d07058;
}

.navigation-list-sub {
    position: relative;
}

.navigation-list-sub-menu {
    display: none;
    position: absolute;
    margin-left: -7px;

    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #323232;

    border-top: 6px solid transparent;
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

    z-index: 3;
}

.navigation-list-sub-menu-item {
    width: 143px;

    background-color: #ffffff;
    border-radius: 5px;
}

.sub-sub-menu a {
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    color: #323232;
}

.sub-sub-menu-item-current .navigation-menu-link {
    background-color: #d07058;
}

.navigation-menu-link {
    display: block;
    width: 123px;
    padding-left: 20px;
    height: 28px;

    line-height: 28px;
}

.sub-sub-menu-item-current .navigation-menu-link {
    color: #ffffff;
}

li:hover .navigation-list-sub-menu,
li:focus .navigation-list-sub-menu,
.navigation-list-item:hover + .navigation-list-sub-menu,
.navigation-list-item:focus + .navigation-list-sub-menu {
    display: block;
    color: #323232;
}

.sub-sub-menu-item {
    width: 123px;
    height: 28px;
    margin: 3px 0;

    line-height: 28px;
}

.sub-sub-menu {
    padding-top: 2px;
    padding-bottom: 3px;
}

.navigation-list-sub-menu-item {
    padding-top: 11px;
}

.navigation-list-sub-menu-item span {
    padding-left: 20px;
}

.sub-sub-menu-item:first-child {
    position: relative;
    margin-top: 15px;
}

.sub-sub-menu-item:first-child::before {
    content: "";
    position: absolute;
    width: 128px;
    left: 6px;
    top: -6px;

    border-top: 1px solid rgba(50, 50, 50, 0.2);
}

.navigation-menu-link:hover {
    background-color: #fbded7;
}

.sub-sub-menu-item:hover a {
    color: #323232;
}

.navigation-menu-link:active {
    background-color: #f6b5a5;
}

.navigation-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    width: 219px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navigation-user li {
    position: relative;
    margin-right: 10px;
}

.navigation-user li:last-child {
    margin-right: 0px;
}

.button-head {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 4px;

    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    line-height: 32px;
    font-weight: 500;

    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 15px;
}

.button-head path {
    fill: #ffffff;
}

.button-head:hover {
    color: #323232;
}

.main-searching {
    position: relative;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

.button-searching {
    width: 32px;
    height: 32px;

    background-image: url("../img/loupe.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}

.button-searching:hover {
    color: #323232;

    background-color: #f8f7f4;
    background-image: url("../img/loupe-inv.png");
    background-repeat: no-repeat;
    background-position: 50%;
}

.button-searching:hover ~ .modal-searching {
    display: block;
}

.button-login {
    min-width: 38px;
    min-height: 32px;
    padding-left: 44px;
    padding-right: 10px;

    background-image: url("../img/enter.svg");
    background-repeat: no-repeat;
    background-position: 17px;
}

a.button-login:hover {
    color: #323232;
}

.button-login:hover {
    background-color: #f8f7f4;
    background-image: url("../img/enter-inv.png");
    background-repeat: no-repeat;
    background-position: 17px;
}

.button-login:hover ~ .modal-login {
    display: block;
}

.button-cart {
    min-width: 62px;
    min-height: 32px;
    padding-left: 45px;
    padding-right: 10px;

    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: 16px;
}

a.button-cart:hover {
    color: #323232;
}

.button-cart:hover {
    background-color: #f8f7f4;
    background-image: url("../img/cart-inv.png");
    background-repeat: no-repeat;
    background-position: 16px;
}

.button-cart:hover ~ .modal-cart {
    display: block;
}

.button-cart-full {
    color: #323232;

    background-color: #f8f7f4;
    background-image: url("../img/cart-full.png");
    background-repeat: no-repeat;
    background-position: 16px;
}

.button-cart-full:hover {
    background-image: url("../img/cart-full.png");
    background-repeat: no-repeat;
    background-position: 16px;
}

.header-schedule-phone {
    padding: 0;
    margin: 0;
    float: right;
    text-align: right;
}

.header-schedule-phone.index {
    padding: 0;
    margin: 0;
    margin-left: auto;
}

.header-schedule {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;

    font-size: 14px;
    line-height: 16px;
    text-align: right;
    font-weight: bold;
}

.header-phone {
    padding: 0;
    margin: 0;

    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
}

a.header-phone:hover,
a.header-phone:focus,
a.header-phone:active {
    color: #e84d37;
}

.breadcrumbs {
    margin-left: 27px;
    margin-right: 27px;
    padding-right: 170px;
}

.breadcrumbs-list {
    position: relative;
    padding: 0;
    margin: 0;

    list-style: none;
    font-size: 14px;
    line-height: 16px;
}

.breadcrumbs-list > li {
    position: relative;
    display: inline-block;
    vertical-align: top;

}

.breadcrumbs-list:not(.breadcrumbs-current) > li {
    margin-right: 17px;
}

.breadcrumbs-list > li:not(.breadcrumbs-current)::after {
    position: absolute;
    content: "»";
    right: -13px;
}

.breadcrumbs-list a {
    padding: 0;
    margin: 0;

    font-weight: normal;
}

.inner-page .page-title {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    margin-left: 27px;
    margin-right: 27px;

    font-size: 35px;
    line-height: 41px;
}

.filter {
    margin-top: 26px;
    margin-left: 27px;
    margin-right: 27px;
}

.filter-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 860px;
    min-height: 132px;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.filter-flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: 15px;
}

.filter-flexbox:nth-child(3) {
    margin-right: 0;
}

.filter-form,
.filter-form p {
    padding: 0;
    margin: 0;
}

.filter-item-label,
.filter-form output {
    padding: 0;
    margin: 0;
    padding-left: 15px;

    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.filter-label {
    padding: 0;
    margin: 0;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.filter-form input,
.filter-form option,
.filter-form output,
.filter-form select {
    padding: 0;
    margin: 0;

    font: inherit;
}

.select-wrapper {
    position: relative;
    width: 193px;
    min-height: 36px;

    background-color: rgba(255, 255, 255, 0.2);
    background-image: url("../img/icon-down-w.png");
    background-repeat: no-repeat;
    background-position: 167px 13px;
    border-radius: 40px;
}

.filter-form select {
    width: 193px;
    min-height: 36px;
    padding: 0;
    margin: 0;
    padding-left: 15px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;

    border: none;
    background-color: transparent;
    color: #ffffff;
    border-radius: 40px;

    cursor: pointer;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.select-wrapper:hover {
    color: #323232;

    background-image: url("../img/icon-down.svg");
    background-repeat: no-repeat;
    background-position: 167px 13px;
}

.select-wrapper:hover select {
    color: #323232;
}

.filter-form select:active,
.filter-form select:focus,
.select-wrapper:active select,
.select-wrapper:focus select {
    color: #323232;

    background-color: #f6f8f7;
    background-image: url("../img/icon-down-small.svg");
    background-repeat: no-repeat;
    background-position: 170px 16px;
}

.button-range {
    width: 4px;
    height: 4px;
    padding: 0;

    border-radius: 50%;
    background-color: #9aaea3;
    border: none;
    border: 8px solid #ffffff;

    -webkit-box-sizing: content-box;

    box-sizing: content-box;
    cursor: pointer;
}

.button-range:first-child {
    position: absolute;
    top: 8px;
    left: 34px;
}

.button-range:last-child {
    position: absolute;
    top: 8px;
    left: 132px;
}

.filter-range,
.filter-field {
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 36px;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 40px;
}

.filter-range::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 22px;
    width: 176px;

    border-top: 4px solid rgba(255, 255, 255, 0.5);
}

.filter-range::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 46px;
    width: 94px;

    border-top: 4px solid rgba(255, 255, 255, 1);
}

.filter-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.filter-range {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 218px;
}

.filter-fat {
    width: 385px;
    padding-left: 16px;
    padding-right: 17px;
}

.filter-fat div {
    padding-left: 31px;
    margin-right: 18px;
}

.filter-fat div:last-child {
    margin-right: 0;
}

.filter-fat input {
    display: none;
}

.filter-label {
    position: relative;

    cursor: pointer;
}

.filter-label-fat::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -31px;
    width: 16px;
    height: 16px;

    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.filter-label-fat::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -24px;

    border-radius: 50%;
}

.select-wrapper,
.filter-range,
.filter-fat,
.filter-fillers {
    margin-top: 6px;
}

input[type="radio"]:checked ~ .filter-label::after {
    border: 4px solid rgba(255, 255, 255, 0.8);
}

.filter-label-fat:hover::before,
input[type="radio"]:checked:hover ~ .filter-label::after {
    border-color: #ffffff;
}

input[type="radio"]:disabled ~ .filter-label::before,
input[type="radio"]:disabled ~ .filter-label::after {
    border-color: rgba(255, 255, 255, 0.4);
}

.filter-label-filler {
    cursor: pointer;
}

.filter-fillers {
    width: 667px;
    padding-left: 15px;
    padding-right: 20px;
}

.filter-fillers div {
    padding: 0;
    margin: 0;
    padding-left: 31px;
    margin-right: 21px;
}

.filter-fillers div:last-child {
    margin-right: 0;
}

.filter-fillers input {
    padding: 0;
    margin: 0;
    display: none;
}

.filter-label-filler::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: -30px;
    width: 20px;
    height: 20px;

    background-image: url("../img/checkbox-off.png");
    background-repeat: no-repeat;
}

.filter-label-filler::after {
    content: "";
    position: absolute;
    display: none;
    width: 24px;
    height: 20px;
    bottom: 0;
    left: -30px;

    background-image: url("../img/checkbox-on.png");
    background-repeat: no-repeat;
}

input[type="checkbox"]:checked ~ .filter-label-filler::before {
    display: none;
}

input[type="checkbox"]:checked ~ .filter-label-filler::after {
    display: block;
}

.filter-label-filler:hover::before {
    background-image: url("../img/checkbox-off-hover.png");
    background-repeat: no-repeat;
}

input[type="checkbox"]:checked:hover ~ .filter-label-filler::after {
    background-image: url("../img/checkbox-on-hover.png");
    background-repeat: no-repeat;
}

input[type="checkbox"]:disabled ~ .filter-label::before {
    background-image: url("../img/checkbox-off-dis.png");
    background-repeat: no-repeat;
}

input[type="checkbox"]:disabled ~ .filter-label::after {
    background-image: url("../img/checkbox-on-dis.png");
    background-repeat: no-repeat;
}

.button-filter {
    padding: 0;
    margin: 0;
    min-width: 143px;
    height: 36px;
    -ms-flex-item-align: end;
    align-self: flex-end;

    line-height: 18px;
    font-weight: 500;

    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    border-radius: 20px;

    cursor: pointer;
}

.button-filter:hover {
    color: #323232;

    background-color: #ffffff;
}

.button-filter:active {
    background-color: #eaeaea;
    -webkit-box-shadow: inset 0 2px 1px #696969;
    box-shadow: inset 0 2px 1px #696969;
    border: none;
}

.site-wrapper {
    padding-top: 10px;
    padding-bottom: 25px;
    background-color: #849d8f;
}

.site-wrapper.index {
    background-color: #849d8f;
    background-image: url("../img/index/creme-brulee-and-cream-raspberry.png");
    background-repeat: no-repeat;
    background-position: top center;
}

.site-wrapper.index::before,
.site-wrapper.index::after {
    content: "";

    visibility: hidden;
}

.site-wrapper.index::before {
    background-image: url("../img/index/chocolate-creme-and-lemon-ice.png");
}

.site-wrapper.index::after {
    background-image: url("../img/index/creme-sauce-and-strawberry-ice.png");
}

#product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/index/creme-brulee-and-cream-raspberry.png");
}

#product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/index/chocolate-creme-and-lemon-ice.png");
}

#product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/index/creme-sauce-and-strawberry-ice.png");
}

.promo-slider {
    position: relative;
    margin-left: 27px;
    margin-right: 27px;
    padding-top: 247px;
}

.promo-switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 0;
    margin: 0;

    font-size: 0;
    list-style: none;

    z-index: 20;
}

.slide-radio {
    padding: 0;
    margin: 0;
    font-size: 0;
}

.button-slide {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    margin-right: 9px;

    font-size: 0;

    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #ffffff;

    cursor: pointer;
}

.button-slide:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.button-slide:active,
.current-slide,
.current-slide:hover {
    background-color: #ffffff;
}

.promo-slider-list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.promo-slider-item {
    display: none;
    position: relative;

    padding: 0;
    margin: 0;
    text-align: center;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}

.promo-text {
    width: 700px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 31px;

    font-size: 60px;
    line-height: 60.35px;
    font-weight: bold;
}

.button-promo {
    min-height: 63px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;

    vertical-align: middle;
    font-size: 32px;
    line-height: 63px;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    cursor: pointer;
}

.banners-area {
    margin-top: 41px;
    margin-left: 27px;
    margin-right: 27px;
}

.banners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    list-style: none;
    font-weight: bold;
}

.banner {
    position: relative;
    margin: 0;
    padding: 17px 20px;
    padding-bottom: 16px;
    width: 520px;
    min-height: 196px;

    border-radius: 15px;
}

.banner:first-child {
    background-color: #b6557c;
    background-image: url("../img/index/raspberry-background.png");
    background-position: 20% 50%;
    background-repeat: no-repeat;
}

.banner:nth-child(2) {
    background-color: #b6557c;
    background-image: url("../img/index/chocolate-background.png");
    background-position: 20% 50%;
    background-repeat: no-repeat;
}

.banner-title {
    padding: 0;
    margin: 0;

    font-size: 35px;
    line-height: 41px;
}

.banner-description {
    padding: 0;
    margin: 0;
    margin-top: 15px;

    font-size: 18px;
    line-height: 22px;
}

.button-banner {
    position: absolute;
    right: 22px;
    bottom: 23px;
    min-height: 44px;
    max-width: 200px;
    padding: 0 22px;

    font-size: 18px;
    line-height: 45px;
    vertical-align: middle;

    cursor: pointer;
}

.catalog-items {
    margin-top: 39px;
    margin-bottom: 43px;
}

.catalog-items.index {
    margin-top: 40px;
    margin-bottom: 38px;
}

.catalog-items-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    list-style: none;
}

.catalog-item-price {
    padding: 0;
    margin: 0;
}

.catalog-item {
    position: relative;
    padding: 0;
    margin: 0;
    width: 293px;
    min-height: 325px;

    border-radius: 5px;
}

.inner-page .catalog-item {
    margin-bottom: 37px;
}

.catalog-item::after {
    display: none;
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    min-height: calc(100% + 73px);

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

    z-index: 1;
}

.catalog-item:hover::after {
    display: block;

    z-index: 3;
}

.catalog-item:hover .catalog-item-image {
    z-index: 4;
}

.catalog-item:hover .catalog-item-quick {
    display: block;
}

.catalog-item-price-amount {
    padding: 0;
    margin: 0;

    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
}

.catalog-item-price-units {
    padding: 0;
    margin: 0;

    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
}

.description-link {
    font-weight: 500;
    line-height: 22px;
}

.catalog-item-description,
.description-link,
.catalog-item-quick {
    padding: 0;
    margin: 0;

    text-align: center;
}

.catalog-item-quick::after {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.catalog-item-quick {
    display: none;
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -100px;
    max-width: 170px;

    padding: 10px 17px;

    line-height: 24px;

    border-radius: 20px;
    background-color: transparent;

    z-index: 6;
}

.catalog-item-image {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    margin-left: -134px;
    padding: 0;
    width: 267px;
    height: 267px;

    border-radius: 50%;

    overflow: hidden;
    z-index: 2;
}

.catalog-item-price {
    position: absolute;
    top: 210px;
    left: 12px;

    z-index: 5;
}

.catalog-item-price span {
    padding: 0;
    margin: 0;

    text-shadow: 1px 0 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-description {
    position: relative;
    width: 256px;
    padding-top: 280px;
    left: 50%;
    margin-left: -128px;

    z-index: 5;
}

.catalog-item__hit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 13px;
    width: 61px;
    height: 61px;

    background-image: url("../img/index/hit.png");
    background-repeat: no-repeat;

    z-index: 5;
}

.features {
    width: 1094px;
    margin-left: 27px;
    margin-right: 27px;
    padding: 26px 20px;
    padding-right: 18px;
    padding-right: 32px;
    padding-bottom: 20px;

    color: #323232;

    background-color: #ece0c5;
    background-image: url("../img/index/waffle-background.jpg");
    background-repeat: repeat;
    border-radius: 15px;

}

.features-title {
    padding: 0;
    margin: 0;

    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 7px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    list-style: none;
}

.feature-item {
    width: 483px;
    min-height: 73px;
    padding: 0;
    margin: 0;
    margin-right: 0px;
    margin-bottom: 4px;
    position: relative;
    padding-top: 12px;
    padding-left: 57px;

    line-height: 22px;
}

.feature-item:nth-child(2n) {
    width: 471px;
}

.feature-item:nth-child(2n) {
  padding-left: 59px;
}

.feature-item::before {
    content: "";
    position: absolute;
    display: block;
    width: 49px;
    height: 49px;
    top: 0;
    left: 0;
}

.feature-self-production::before {
    background-image: url("../img/index/ice-cream.svg");
    background-repeat: no-repeat;
}

.feature-reliable-friends::before {
    background-image: url("../img/index/cow.svg");
    background-repeat: no-repeat;
}

.feature-natural-materials::before {
    background-image: url("../img/index/leaf.svg");
    background-repeat: no-repeat;
}

.feature-shipment::before {
    background-image: url("../img/index/thermometer.svg");
    background-repeat: no-repeat;
}

.all-block,
.blog-news,
.blog-news a {
    padding: 0;
    margin: 0;

    color: #323232;
}

.all-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 27px;
    margin-right: 27px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.block {
    padding: 0;
    margin: 0;

    background-color: #ffffff;
    border-radius: 15px;
}

.blog-notice {
    padding: 0;
    margin: 0;

    line-height: 22px;
}

.blog-news {
    width: 520px;
    min-height: 174px;
    padding: 0;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 20px;
    padding-right: 20px;

    background-image: url("../img/index/strawberry-background.jpg");
    background-repeat: no-repeat;
    background-position: 17% 40%;
}

.blog-title {
    width: 281px;
    padding: 0;
    margin: 0;
    margin-top: 4px;

    line-height: 24px;
}

.blog-title a {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    -webkit-text-decoration-color: rgba(50, 50, 50, 1);
    text-decoration-color: rgba(50, 50, 50, 1);
}

.blog-title a:hover,
.blog-title a:focus,
.blog-title a:active {
    color: #e84d37;
    -webkit-text-decoration-color: #e84d37;
    text-decoration-color: #e84d37;
}

.subscribe {
    position: relative;
    width: 508px;
    min-height: 152px;
    padding: 33px 26px;
    padding-top: 35px;

    background-image: -webkit-repeating-linear-gradient(315deg, #ffffff 1px, #ffffff 8px, #b1dafc 8px, #b1dafc 15px, #ffffff 15px, #ffffff 22px, #fcbaaf 22px, #fcbaaf 29px, #ffffff 29px);

    background-image: -o-repeating-linear-gradient(315deg, #ffffff 1px, #ffffff 8px, #b1dafc 8px, #b1dafc 15px, #ffffff 15px, #ffffff 22px, #fcbaaf 22px, #fcbaaf 29px, #ffffff 29px);

    background-image: repeating-linear-gradient(135deg, #ffffff 1px, #ffffff 8px, #b1dafc 8px, #b1dafc 15px, #ffffff 15px, #ffffff 22px, #fcbaaf 22px, #fcbaaf 29px, #ffffff 29px);
    color: #5a5a5a;
}

.subscribe::before {
    content: "";
    position: absolute;
    width: 550px;
    min-height: calc(100% - 10px);
    top: 5px;
    left: 6px;

    border-radius: 14px;
    background-color: #f8f7f4;
}

.subscribe-text {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 35px;

    line-height: 22px;

    z-index: 1;
}

.subscribe-form {
    position: relative;

    z-index: 1;
}

.subscribe-form input {
    padding: 0;
    margin: 0;
    width: 352px;
    height: 42px;
    margin-right: 8px;

    font: inherit;

    background-color: #ffffff;
}

.button-subscribe {
    font: inherit;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 18px;
    margin-bottom: 5px;
}

.address-area {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

.address-area iframe {
    position: absolute;
    top: 0;
    left: 0;

    border: none;

    z-index: 1;
}

.address-area-map {
    width: 100%;
    height: 430px;
    padding: 0;
    margin: 0;

    overflow: hidden;
}

.address-area-map img {
    position: relative;
    top: -108px;
    left: 1px;

    padding: 0;
    margin: 0;

    z-index: 0;
}

.feedback-address {
    padding: 0;
    margin: 0;
}

.feedback,
.feedback-info {
    padding: 0;
    margin: 0;

    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    color: #323232;
}

.feedback {
    position: absolute;
    top: 62px;
    right: 27px;
    width: 252px;
    min-height: 249px;
    padding: 28px 25px;

    border-radius: 15px;
    background-color: #fdfefe;

    z-index: 2;
}

.feedback-title {
    padding: 0;
    margin: 0;

    line-height: 18px;
}

address.feedback-info {
    margin-top: -2px;
    margin-bottom: 18px;

    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

a.feedback-info {
    display: block;
    padding: 0;
    margin: 0;

    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

a.feedback-info:hover,
a.feedback-info:focus,
a.feedback-info:active {
    color: #e84d37;
}

.feedback-phone {
    padding: 0;
    margin: 0;
    margin-top: 16px;
}

.feedback-phone a {
    margin-top: 5px;
}

.feedback-tip {
    padding: 0;
    margin: 0;

    line-height: 22px;
}

.button-feedback {
    padding: 0px 27px;
    margin-top: 24px;

    line-height: 43px;
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    margin-left: 27px;
    margin-right: 27px;
    margin-bottom: 31px;

    list-style: none;
}

.pagination-item {
    position: relative;
    padding: 0;
    margin: 0;
    width: 25px;
    height: 25px;
    margin-right: 4.5px;

    text-align: center;

    border-radius: 50%;
}

.pagination-item:last-child {
    margin-right: -10px;
    margin-left: 4px;
}

.pagination-item a {
    display: block;
    padding: 0;
    margin: 0;
    width: 25px;
    height: 25px;

    line-height: 25px;
    font-weight: 500;
    text-decoration: none;
}

.page-back svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.page-back path {
    fill: #ffffff;
}

.disabled path {
    fill: rgba(255, 255, 255, 0.2);
}

.arrow:active path {
    fill: #323232;
}

.pagination-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item:hover a {
    color: #ffffff;

    cursor: pointer;
}

.pagination-item:active {
    background-color: #ffffff;
}

.pagination-item:active a {
    color: #323232;
}

.pagination-item a:active {
    color: #000000;
}

.pagination-item-current {
    background-color: #ffffff;
}

.pagination-item-current a {
    color: #323232;
}

.pagination-item-current:hover {
    background-color: #ffffff;
}

.pagination-item-current:hover a {
    color: #323232;
}

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-top: 18px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 27px;
    margin-right: 27px;
}

.inner-page .main-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.main-footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 185px;
    min-height: 38px;
    padding: 0;
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    list-style: none;
}

.main-footer-social li {
    width: 38px;
    height: 38px;
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
    margin-right: 11px;
}

.main-footer-social li:last-child {
    margin-right: 0px;
}

a.button-social {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;

    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.6);

    opacity: 0.8;
    cursor: pointer;
}


.button-social:hover {
    border: 3px solid rgba(255, 255, 255, 0.5);

    opacity: 1;
}

.button-social:active {
    border: 3px solid rgba(255, 255, 255, 0.9);

    opacity: 0.8;
}

.twitter {
    background-image: url("../img/twitter.svg");
    background-repeat: no-repeat;
    /*background-position: 3px 3px;*/
    background-origin: content-box;
}

.instagramm {
    background-image: url("../img/instagramm.svg");
    background-repeat: no-repeat;
}

.facebook {
    background-image: url("../img/facebook.svg");
    background-repeat: no-repeat;
}

.vk {
    background-image: url("../img/vk.svg");
    background-repeat: no-repeat;
}

.main-footer-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 330px;
    min-height: 40px;
}

.main-footer-navigation-list:first-child {
    padding-left: 16px;
}

.main-footer-navigation-list:not(:first-child) {
    padding-left: 31px;
}

.main-footer-navigation-list {
    padding: 0;
    margin: 0;

    list-style: none;
    font-size: 13px;
    line-height: 18px;
}

.main-footer-navigation-list li {
    margin-bottom: 5px;
}

.main-footer-navigation-list-link {
    font-weight: normal;
}

a.heart {
    position: relative;
    padding: 0;
    margin: 0;

    font-weight: bold;
}

.main-footer-navigation-list-link.heart::before {
    display: block;
    content: "";
    position: absolute;
    width: 15px;
    height: 13px;
    top: 2px;
    left: -22px;

    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
}

.main-footer-copyright {
    padding: 0;
    margin: 0;

    font-size: 12px;
    line-height: 18px;
}

.main-footer-copyright a,
.main-footer-copyright img,
.main-footer-copyright p {
    padding: 0;
    margin: 0;

    font-weight: normal;
}

.main-footer-copyright p {
    margin-top: -2px;
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

@-webkit-keyframes uprise {
    0% {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes uprise {
    0% {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.modal {
    display: none;
    position: absolute;

    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

    z-index: 5;
}

.modal-show-back {
    display: block;
}

.modal-show {
    display: block;

    -webkit-animation: uprise 0.6s;

            animation: uprise 0.6s;
}

.modal-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}

.modal > div,
.modal a {
    padding: 0;
    margin: 0;

    color: #323232;
    -webkit-text-decoration-color: rgba(50, 50, 50, 0.3);
    text-decoration-color: rgba(50, 50, 50, 0.3);

    background-color: #f8f7f4;
}

a.modal-login-link:hover,
a.modal-login-link:focus,
a.modal-login-link:active {
    -webkit-text-decoration-color: rgba(232, 77, 55, 0.3);
    text-decoration-color: rgba(232, 77, 55, 0.3);
    color: #e84d37;
}

.modal-login {
    top: 32px;
    right: 0;
    padding-top: 5px;
}

.modal-login:hover {
    display: block;
}

.modal-login > div {
    width: 241px;
    min-height: 174px;
    padding: 20px 19px;
    padding-right: 17px;

    border-radius: 5px;
}

.modal form,
.modal p {
    padding: 0;
    margin: 0;
}

.modal-login-link {
    padding: 0;
    margin: 0;

    font-size: 13px;
    line-height: 24px;
}

.modal-login .button {
    padding: 10px 25px;
}

.modal-searching {
    top: 32px;
    right: 0;
    padding-top: 5px;
}

.modal-searching:hover {
    display: block;
}

.modal-searching > div {
    width: 311px;
    min-height: 44px;
    padding: 20px 15px;

    border-radius: 5px;
}

.modal-feedback {
    position: fixed;
    /*  top: 328px;*/
    top: 50%;
    left: 50%;
    margin-top: -221px;
    margin-left: -238.5px;

    z-index: 55;
}

.modal-feedback > div {
    width: 428px;
    min-height: 395px;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 25px;
    padding-bottom: 29px;

    border-radius: 9px;
}

.modal-feedback-greeting {
    padding: 0;
    margin: 0;

    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

.modal-feedback .button {
    padding: 9px 23px;
}

.subscribe-form input {
    padding-left: 14px;

    font: inherit;

    border: 1px solid #b2b2b2;
    border-radius: 5px;
    background-color: #ffffff;
}

.modal input,
.modal textarea {
    height: 42px;
    padding: 0;
    margin: 0;
    padding-left: 14px;

    font: inherit;

    border: 1px solid #b2b2b2;
    border-radius: 5px;
    background-color: #ffffff;
}

.modal-login-form input {
    width: 225px;
    height: 42px;
    margin-bottom: 20px;
}

.modal-login-form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.login-tip {
    width: 120px;
}

.login-tip a {
    display: block;
}

.login-tip a:first-child {
    margin-top: -2px;
    margin-bottom: -3px;
}

.modal-searching input {
    width: 311px;
    height: 42px;
}

.modal-feedback input {
    width: 251px;
    height: 42px;
}

.modal-feedback-form > p {
    margin-bottom: 20px;
}

.modal-feedback-form p:nth-child(4) {
    margin-bottom: 18px;
}

.subscribe-form input:hover,
.modal input:hover,
.modal textarea:hover {
    height: 40px;
    padding-left: 13px;

    border: 2px solid #9a9a9a;
}

.subscribe-form input:focus,
.modal input:focus,
.modal textarea:focus {
    height: 40px;
    padding-left: 13px;

    line-height: 24px;
    font-weight: bold;
    outline: none;

    border: 2px solid #2e88e4;
}

.subscribe-form input:hover,
.subscribe-form input:focus {
    width: 351px;
    height: 40px;
}

.modal-login-form input:hover,
.modal-login-form input:focus {
    width: 224px;
}

.modal-searching input:hover,
.modal-searching input:focus {
    width: 310px;
    height: 42px;
}

.modal-feedback input:hover,
.modal-feedback input:focus {
    width: 250px;
    height: 40px;
}

.modal textarea {
    width: 412px;
    height: 143px;
    padding-top: 10px;
}

.modal textarea:hover {
    height: 142px;
    padding-top: 9px;
}

.modal textarea:focus {
    height: 142px;
    padding-top: 9px;
}

.modal-feedback-form button {
    margin-left: 290px;
}

.subscribe-form input:focus::-webkit-input-placeholder {
    color: transparent;
}

.subscribe-form input:focus::-moz-placeholder {
    color: transparent;
}

.subscribe-form input:focus:-moz-placeholder {
    color: transparent;
}

.subscribe-form input:focus:-ms-input-placeholder {
    color: transparent;
}

.modal input:focus::-webkit-input-placeholder {
    color: transparent;
}

.modal input:focus::-moz-placeholder {
    color: transparent;
}

.modal input:focus:-moz-placeholder {
    color: transparent;
}

.modal input:focus:-ms-input-placeholder {
    color: transparent;
}

.modal textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

.modal textarea:focus::-moz-placeholder {
    color: transparent;
}

.modal textarea:focus:-moz-placeholder {
    color: transparent;
}

.modal textarea:focus:-ms-input-placeholder {
    color: transparent;
}

.modal input:active,
.modal textarea:active {
    line-height: 24px;
    font-weight: bold;
}

.modal-close {
    width: 18px;
    height: 17px;
    padding: 0;
    margin: 0;
    top: 15px;
    right: 17px;

    font-size: 0;
}

.modal-cart {
    top: 32px;
    right: 0;
    padding-top: 5px;
}

.modal-cart:hover {
    display: block;
}

.modal-cart-table,
.modal-cart-item td:nth-child(1),
.modal-cart-item td:nth-child(2) {
    padding: 0;
    margin: 0;
}

.modal-cart-table {
    border-collapse: collapse;
}

.modal-cart > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 510px;
    min-height: 202px;
    padding: 20px 15px;

    font-size: 13px;
    line-height: 16px;

    border-radius: 5px;
}

.modal-cart-item,
.modal-cart-item img,
.modal-cart-total,
.cart-button {
    padding: 0;
    margin: 0;
}

.modal-cart-item-price {
    color: #999999;
}

.modal-cart-total {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
}

.button-x {
    position: absolute;
    margin: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button-x::before,
.button-x::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}

.button-x::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.button-x::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal-close::after,
.modal-close::before {
    width: 24px;
    height: 2px;
    top: 8px;
    left: -3px;

    background-color: black;
}

.modal-cart-total,
.modal-cart-total td {
    margin: 0;
    padding: 0;
}

.modal-cart-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 14px;
}

.modal-cart-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

tr.modal-cart-total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0px;
    padding-top: 14px;
    margin-top: -4px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    border-top: 1px solid #cacac7;
}

.modal-cart-item-description {
    width: 217px;
    margin: 0;
    padding: 0;
    padding-right: 32px;
    padding-left: 12px;
    padding-top: 9px;
}

.modal-cart-item td:nth-child(1),
.modal-cart-item td:nth-child(2) {
    margin: 0;
    padding: 0;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.modal-cart-item td:nth-child(1) {
    padding-top: 10px;
    padding-right: 14px;
}

.modal-cart-item td:nth-child(2) {
    width: 33px;
    height: 33px;

    border-radius: 50%;

    overflow: hidden;
}

.modal-cart-item-amount {
    margin: 0;
    padding: 0;
    padding-right: 3px;
}

.modal-cart-item-price {
    margin: 0;
    padding: 0;
    padding-right: 27px;
}

.modal-cart-item-total {
    padding: 0;
    margin: 0;
}

.modal-cart-total td {
    margin: 0;
    padding: 0;
}

.modal-cart-total .total {
    display: block;
    margin-left: 2px;
}

.cart-button {
    margin-top: 0px;
    -ms-flex-item-align: end;
    align-self: flex-end;

    border-radius: 32px;
}

.button-cart-delete {
    position: relative;
    width: 11px;
    height: 11px;
}

.button-cart-delete::after,
.button-cart-delete::before {
    width: 16px;
    height: 1px;
    top: 5px;
    left: -2px;

    background-color: black;
}

.cart-button a {
    padding: 10px 15px;

    color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
